
/.gradle/**
/.idea/.gitignore
/.idea/compiler.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/build/libs/camunda-series-1.0.0-SNAPSHOT.jar
/build/reports/problems/problems-report.html
/build/tmp/jar/MANIFEST.MF
/gradle/wrapper/gradle-wrapper.jar
/**/build/*
