/.gradle/8.14/checksums/checksums.lock
/.gradle/8.14/checksums/md5-checksums.bin
/.gradle/8.14/checksums/sha1-checksums.bin
/.gradle/8.14/executionHistory/executionHistory.bin
/.gradle/8.14/executionHistory/executionHistory.lock
/.gradle/8.14/fileChanges/last-build.bin
/.gradle/8.14/fileHashes/fileHashes.bin
/.gradle/8.14/fileHashes/fileHashes.lock
/.gradle/8.14/fileHashes/resourceHashesCache.bin
/.gradle/8.14/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.gradle/file-system.probe
/.idea/.gitignore
/.idea/compiler.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/build/libs/camunda-series-1.0.0-SNAPSHOT.jar
/build/reports/problems/problems-report.html
/build/tmp/jar/MANIFEST.MF
/gradle/wrapper/gradle-wrapper.jar
